main {
    margin-top: 8px;
    text-align: center;
}

#fundoClima {
    width: 225px;
    height: auto;
}

#temperature {
    font-size: 100px;
    line-height: 0.8px;
    margin-top: 8px;
}

#localidade {
    font-size: 36px;
    line-height: 1;
    font-weight: 600;
}